body{
    font-family: 'Fasthand', serif;
}
/* -------------------Header----------------- */
.header {
    background: #f8f9fa!important;
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}
.header .btn-outline-success:hover {
    color: #fff;
    background-color: #5b9cbd;
    border-color: #67b1bc;
}
.header .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(3 104 154);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55) !important;
}
.header a {
    font-weight: bold;
    margin-right: 4em;
}
li {
    line-height: 2em;
}
p {
    line-height: 1.9em;
    font-size: 0.9em;
}
.btn-outline-success {
    color: #1874a2;
    border-color: #1874a2;
}
a.dropdown-item:hover {
    color: #006699;
}
ul.dropdown-menu.show {
    font-size: 14px;
}
/* --------------------Content------------------ */
.content {
    margin-top: 6em;
    overflow: hidden;
}
.content .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}   
.famouse-res-section {
    margin-top: 3em;
    margin-bottom: 3em;
    background-image: url(../imgs/bg-img.jpg);
    background-size: cover;
    padding: 58px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.famouse-res-section .name {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
}
.famouse-res-section .card img {
    height: 200px;
}
.carousel-inner img {
    height: 500px;
}
.carousel-item img:hover {
    opacity: 0.8;
    transition: 0.8s;
    padding: 10px;
}
h3{
    font-weight: normal;
    color: rgb(3,104,154);
}
p {
    line-height: 1.7em;
}
/* ----------card------------- */
.card{
    overflow: hidden;
}
.card:hover{
    cursor: pointer;
}
.card img {
    height: 235px;
    width: 100%;
}
.card img:hover {
    transition: 0.7s;
}
.card .des {
    width: 100%;
    padding: 18px 10px 0 10px;
    color: rgb(7,106,156,0.89);
    font-size: 15px;
    font-weight: 600;
}
.card a{
    text-decoration: none;
}
.btn-view{
    text-align: center;
    margin-top: 3em;
}
.btn-view button.btn.btn-outline-success.view-all {
    padding: 7px 24px;
}
.btn-view button.btn.btn-outline-success.view-all:hover {
    color: #fff;
    background-color: #5b9cbd;
}
.btn-view button.btn.btn-outline-success.view-all:hover a{
    color: #fff;
}
.btn-view a {
    color: #1874a2;
    text-decoration: none;
}
/* --------Tab------------- */
.tab .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #0a6c9d;
    background-color: white !important;
    border-bottom: solid 2px #0a6c9d;
}
.tab li {
    font-size: 0.9em;
    font-weight: normal;
}
/* --------------heritage------------ */
.banner{
    overflow: hidden;
    background: rgb(3,104,154,0.2);
    padding: 26px 0 20px 0;
    text-align: center;
}
.banner h3.title a {
    text-decoration: none;
    color: rgb(3,104,154);
}
.banner h3.title a:hover{
    text-decoration: underline;
}
h5 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 1em;
    color: rgb(3,104,154);
}
/* --------------province---------- */
.province .card img {
    height: 200px;
}
.province .card img:hover {
    transform: scale(1.1);
}
/* ------------detail-------- */

.dt ul#pills-tab {
    margin-top: 2em;
    float: right;
}
.dt img:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.dt .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-radius: 50%;
    background-color: #5b9cbd;
}
/* ---------footer------------ */
footer {
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: lighter;
    background: rgb(3,104,154,0.2);
}
footer .b-footer img {
    height: 2em;
}
.b-footer{
    text-align: center;
    padding: 3px 0 15px 0;
}
.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    font-size: 1em;
    margin-right: 1em;
    cursor: pointer;
}
h6.title {
    margin-bottom: 1.5em;
    font-weight: bolder;
    color:rgb(3,104,154);
}
footer ul{
    list-style: none;
}
footer ul.midle {
    column-count: 2;
}
footer ul.midle a{
    text-decoration: none;
    color: black;
}
footer ul.midle a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(3 104 154);
}
@media only screen and (width:1024px){
    .header a {
        margin-right: 0;
    }
    p{
        font-size: 0.8em;
    }
    footer ul.midle {
        column-count: 1;
    }
}
@media (max-width: 991px) and (min-width: 568px){
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        text-align: center;
    }
    input.form-control.me-2 {
        margin-left: 8em;
    }
    .btn-outline-success {
        margin-right: 8em;
    }
    .carousel-inner img {
        height: 400px;
    }
    .famouse-res-section .card img {
        height: 100px;
    }
    .province .card img {
        height: 100px;
    }
    footer ul.midle {
        column-count: 1;
    }
}
@media screen and (max-width: 480px) {
    .carousel-inner img {
        height: 220px;
    }
    h3 {
        font-size: 1.3em;
    }
    .re {
        flex-direction: column-reverse;
    }
}